.matrix{
    width: 100vw;
    height: 90vh;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 5vmin;
    overflow: hidden;
}

.box{
    width: 50%;
    height: 50%;
    background-color: red;
    position: relative;
    border-radius: 0px;
    padding: 3em;
  }

#topLeft{
    background-color: #495168;
    color: white;
  }

  #topRight{
    background-color: #748db2;
    left: 50%;
    top: -50%;
    color: white;
  }

  #bottomLeft{
    background-color:#b78ca6;
    top: -50%;
    color: white;
  }

  #bottomRight{
    background-color:#c6b6c3;
    left: 50%;
    top: -100%;
    color: black;
  }

  #task{
    width: 30em;
  }

  #input{
    text-align: center;
  }

  button {
    border: 2px solid white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }

  button:hover{
    border: 2px solid #ecee7f;
  }